
.social-media-link {
  .icon-circle {
    opacity: 0.0;
    fill: #fff;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 4.51399994;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
  }
}
