.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile-only) {
    align-items: flex-start;
    margin-top: 2em;
  }
}

.user-container {
  width: 550px;

  @include breakpoint(mobile-only) {
    width: 100%;
  }
}

.personal-info {
  padding: $site-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint(mobile-only) {
    flex-direction: column;
  }
}
