
.profile-card-wide {
  .mdl-card__title {
    align-items: flex-start;
    height: 50vw;
    max-height: 400px;
    background: url('/images/me_norway.jpg') right / cover;

    padding-right: 45%; // So that the content will wrap instead of overlapping me in the image.

    .mdl-card__title-text {
      display: none;
      margin-top: 0;

      color: #555;
      font-family: 'Open Sans', sans-serif;
      font-size: 300%;
      line-height: 1em;

      @include breakpoint(tablet-up) {
        display: block;
      }
    }
  }

  .mdl-card__supporting-text {
    line-height: 2em;
    text-align: center;

    .mdl-card__title-text {
      display: block;

      @include breakpoint(tablet-up) {
        display: none;
      }
    }
  }

  .mdl-card__actions {
    display: flex;
    flex-wrap: wrap;
    box-sizing:border-box;
    align-items: center;

    @include breakpoint(mobile-only) {
      justify-content: center;
    }

    .social-media-item {
      flex: 1;
      text-align: center;

      @include breakpoint(mobile-only) {
        flex-grow: 0;
      }

      a {
        display: block;
        opacity: 0.7;
        transition: all 200ms ease-in-out;

        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }
      }
    }
  }
}
