// Colors
$bg-color: #F5F5F5;
$bg-color-dark: rgb(32, 33, 36);
$bg-color-dark-alt: #292A2D;
$txt-color: #525252;
$txt-color-alt: #888;
$txt-color-dark: #C1C2C3;
$txt-color-dark-alt: rgb(154, 160, 166);

// $link-color: rgb(138, 180, 248);
$link-color: #2196f3;
$link-color-dark: #0960a5;

$primary-color: #C74A68;

// Sizes
$base-font-size: 16px;
$site-padding: 20px;

// Breakpoints
$bp-mobile-max: 480px;
$bp-tablet-max: 768px;

$bp-tablet-min: $bp-mobile-max;
$bp-desktop-min: $bp-tablet-max;
