
<div class="container-padded">
  <div class="profile-card-wide mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Anton Hedström</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <h1 class="mdl-card__title-text">Anton Hedström</h1>
      <a href="mailto:antonhedstrom@gmail.com" class="clean">antonhedstrom@gmail.com</a>
    </div>

    <div class="mdl-card__actions mdl-card--border">

      <div class="social-media-item">
        <a class="social-media-link" href="https://github.com/antonhedstrom">{{> icons/github }}</a>
      </div>
      <div class="social-media-item">
        <a class="social-media-link" href="https://se.linkedin.com/in/antonhedstrom">{{> icons/linkedin }}</a>
      </div>
      <div class="social-media-item">
        <a class="social-media-link" href="https://www.facebook.com/antonhedstroem">{{> icons/facebook }}</a>
      </div>
      <div class="social-media-item">
        <a class="social-media-link" href="https://twitter.com/antonhedstrom">{{> icons/twitter }}</a>
      </div>
      <div class="social-media-item">
        <a class="social-media-link" href="https://plus.google.com/u/0/108232391757870395646">{{> icons/googleplus }}</a>
      </div>
      <div class="social-media-item">
        <a class="social-media-link" href="https://www.instagram.com/anton_hedstrom/">{{> icons/instagram }}</a>
      </div>
    </div>
  </div>
</div>
