
<div id="container">
  <h1>Anton Hedström</h1>
  <hr />
  <p>
    <a href="mailto:antonhedstrom@gmail.com">antonhedstrom@gmail.com</a>
  </p>
  <p>
    <img src="images/me.png" border="0" align="center" />
  </p>

</div>
