
body {
  background:#EEE;
  color:#444;
  font-size:14pt;
}
div#container {
  text-align:center;
  margin:2em auto 0 auto;
}

h1 {
  font-family: 'Playball', cursive;
  font-size:40pt;
  text-shadow:2px 2px #AAA;
  margin-bottom:0;
}
a {
  color:#444;
  text-decoration: none;
}
a:hover {
  color:#44C;
  text-decoration: underline;
}
hr {
  height: 1px;
  border-width: 0;
  color: #999999;
  background-color: #999999;
  width:40%;
  min-width:400px;
}
span.small {
  font-size:8pt;
  font-family: verdana;
}
